= form_for @service_group, remote: :true do |f|
  - unless @service_group.errors.empty?
    .alert.alert-danger{:role => "alert"}
      - @service_group.errors.full_messages.each do |msg|
        %ul= msg
  %ul#form-new-record
    .form-group
      .col-md-12
        = f.label :name
        = f.text_field :name, class: 'form-control', placeholder: 'Name'
        %br/
    .form-group
      .col-md-12
        = f.label :description
        = f.text_field :description, class: 'form-control', placeholder: 'Description'
        %br/
        %br/
    .form-group
      .col-md-12
        = f.submit "Save", class: "btn btn-primary"
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel