- content_for :admin_header do
  #search-form.collapse
    = search_form_for @q, url: services_path do |f|
      .row
        %ul#form-new-record
          .form-group
            .col-md-6.search-form-left
              .field
                = f.label :id_cont, "Id", class: 'margin-top-10'
                = f.text_field :id_cont, class: 'form-control'
                = f.label :title_cont, "Titulo", class: 'margin-top-10'
                = f.text_field :title_cont, class: 'form-control'
                = f.label :description_cont, "Descripcion", class: 'margin-top-10'
                = f.text_field :description_cont, class: 'form-control'
              .field.padding-top-10
                =f.submit "Search", class: "btn btn-primary pull-right"
            .col-md-6

  .row
    .col-md-12
      .pull-right
        .btn-new-element.pull-right
          = link_to "Nuevo Servicio", new_service_path, class: "btn btn-primary", remote: :true
      .pull-right
        .search-link
          = link_to "#search-form", "data-target" => "#search-form", "data-toggle" => "collapse" do
            Buqueda Avanzada
            %i.fa.fa-search
      .clearfix


.row
  .col-md-12
    - content_for :admin_content do
      = render partial: "admin/services/services_table"

  %span#services-paginate.pagination.pagination-sm
    = will_paginate @services, :previous_label => 'Anterior', :next_label => 'Siguiente', renderer: BootstrapPagination::Rails

#global-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
        %h4.modal-title Nuevo Servicio
      .modal-body
