.row#header-top

  #mySidenav.sidenav
    %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} x
    = link_to "Admin", users_path
    = link_to "About", "#"
    = link_to "Services", "#"
    = link_to "News", "#"
    = link_to "Contact", "#"

  .col-md-2.header-height.vertical-center
    .inline-block.header-height
      %i.fa.fa-bars.menu-ico#menu-open
    .inline-block.padding-left
      = image_tag "logo.jpg", class: "logoimg logo-ico img-circle"

  .col-md-7.header-height.vertical-center
    .input-group.input-border
      %span.input-group-addon.basic-addon1.input-ico-style
        %i.fa.fa-search
      %input.form-control.input-style{:placeholder => "Search Service", :type => "text", :"aria-describedby" => "basic-addon1"}/

  .col-md-3.header-height.vertical-center
    .inline-block.block-right
      %a.btn.btn-default{:href => "#"} Nuevo Servicio
      = link_to "cerrar sesion", destroy_user_session_path, method: :delete, class: "btn btn-secondary" 
    .inline-block.block-right
      = image_tag "logo.jpg", class: "logoimg logo-ico img-circle"

.row
  .col-md-12#header-menu
    .row
      .col-md-12
        .header-height
          .vertical-center
            - if content_for? :admins_menu #&& current_user.admin?
              = yield :admins_menu
            - else
              = yield :users_menu
