.row#header-top

  #mySidenav.sidenav
    .closebtn
      %i.fa.fa-angle-double-left.menu-ico
    = link_to "Admin", users_path
    = link_to "About", "#"
    = link_to "Services", "#"
    = link_to "News", "#"
    = link_to "Contact", "#"

  .col-md-2.header-height.vertical-center
    .inline-block.header-height.menu-open
      %i.fa.fa-bars.menu-ico
    .inline-block.padding-left
      = image_tag "servicios.png", class: "logoimg logo-ico img-circle"

  .col-md-8.header-height.vertical-center
    .input-group.input-border
      %span.input-group-addon.basic-addon1.input-ico-style
        %i.fa.fa-search
      %input.form-control.input-style{:placeholder => "Search Service", :type => "text", :"aria-describedby" => "basic-addon1"}/

  .col-md-2.header-height.vertical-center
    .inline-block.block-right
      .btn-group
        .dropdown-toggle.overflow{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          = image_tag "logo.jpg", class: "logoimg logo-ico img-circle"
        %ul.dropdown-menu.dropdown-menu-right
          %li
            = link_to "Perfil", "#"
          %li
            = link_to "Configuracion", "#"
          %li.divider{:role => "separator"}
          %li
            = link_to "Cerrar Sesion", destroy_user_session_path, method: :delete

.row
  .col-md-12#header-menu
    .row
      .col-md-12
        .header-height
          .vertical-center
            - if current_user
              = render "/layouts/shared/menu"
              - if current_user.admin?
                = yield :admins_menu
              - else
                = yield :users_menu
