- content_for :admins_menu do
  .menu-link
    %span= link_to "Users", users_path, class: "user-select"
  .menu-link
    %span= link_to "Companies", companies_path, class: "user-select"
  .menu-link
    %span= link_to "Clients", clients_path, class: "user-select"
  .menu-link
    %span= link_to "Services", services_path, class: "user-select"
  .menu-link
    %span= link_to "Services Groups", service_groups_path, class: "user-select"
  .menu-link
    %span Reportes
  .menu-link
    %span Inventarios

- content_for :users_menu do
  .menu-link
    %span= link_to "Usuarios", users_path
  .menu-link
    %span Clientes
  .menu-link
    %span Servicios
  .menu-link
    %span Reportes
  .menu-link
    %span Inventarios
