.row
  .col-md-3.center-obj
    %h2.padding-lef Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        .col-md-8
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
      .form-group
        .col-md-8
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "Log in", class: "btn btn-primary pull-right"
            .clearfix
            = render "devise/shared/links"
