= form_for @user, remote: :true do |f|
  - unless @user.errors.empty?
    .alert.alert-danger{:role => "alert"}
      - @user.errors.full_messages.each do |msg|
        %ul= msg
  %ul#form-new-record
    .form-group
      .col-md-12
        = f.label :Name
        = f.text_field :first_name, class: 'form-control', placeholder: 'Name'
        %br/
    .form-group
      .col-md-12
        = f.label :Last_Name
        = f.text_field :last_name, class: 'form-control', placeholder: 'Last Name'
        %br/
    .form-group
      .col-md-12
        = f.label :Password
        = f.password_field :password, class: 'form-control', placeholder: 'Password'
        %br/
    .form-group
      .col-md-12
        = f.label :"Password_Confirmation"
        = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation'
        %br/
    .form-group
      .col-md-12
        = f.label :"Email"
        = f.text_field :email, class: 'form-control', placeholder: 'Email'
        %br/
    .form-group
      .col-md-12
        = f.label :admin
        = f.check_box :admin
        %br/
        %br/
    .form-group
      .col-md-12
        = f.submit "Save", class: "btn btn-primary"
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
