= form_for @user, remote: :true do |f|
  - unless @user.errors.empty?
    .alert.alert-danger{:role => "alert"}
      - @user.errors.full_messages.each do |msg|
        %ul= msg
  %ul#form-new-record
    .form-group
      .col-md-12
        = f.label :Nombre
        = f.text_field :first_name, class: 'form-control', placeholder: 'Nombre'
        %br/
    .form-group
      .col-md-12
        = f.label :Apellido
        = f.text_field :last_name, class: 'form-control', placeholder: 'Apellido'
        %br/
    .form-group
      .col-md-12
        = f.label :Contrase単a
        = f.password_field :password, class: 'form-control', placeholder: 'Contrase単a'
        %br/
    .form-group
      .col-md-12
        = f.label :"Confirmar Contrase単a"
        = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmar Contrase単a'
        %br/
    .form-group
      .col-md-12
        = f.label :"Correo electronico"
        = f.text_field :email, class: 'form-control', placeholder: 'Correo electronico'
        %br/
    .form-group
      .col-md-12
        = f.label :admin
        = f.check_box :admin
        %br/
        %br/
    .form-group
      .col-md-12
        = f.submit "Guardar", class: "btn btn-primary"
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar
