= form_for @user, remote: :true do |f|
  - @user.errors.full_messages.each do |msg|
    %li= msg
  %ul
    .form-group
      .col-md-8
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control', placeholder: 'First Name'
        %br/
    .form-group
      .col-md-8
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control', placeholder: 'Last Name'
        %br/
    .form-group
      .col-md-8
        = f.label :password
        = f.password_field :password, class: 'form-control', placeholder: 'Password'
        %br/
    .form-group
      .col-md-8
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation'
        %br/
    .form-group
      .col-md-8
        = f.label :email
        = f.text_field :email, class: 'form-control', placeholder: 'Email'
        %br/
    .form-group
      .col-md-8
        = f.label :admin
        = f.check_box :admin
        %br/
    .form-group
      .col-md-8
        = f.submit "Guardar", class: "btn btn-primary"
