.row
  .col-md-12
    #import-users-new
      #import-success.alert.alert-success.no-margin.messages
        %span User import successful
      #import-errors.alert.alert-danger.no-margin.messages

      = link_to "Select File", "#", id: 'upload-launch', class: "btn btn-success import-form"
      %span#file-name No file selected...

      .import-form.hidden
        = form_for :import_file, url: import_users_path, multipart: true do |f|
          = f.file_field :import_users, id: 'fileupload'
          = submit_tag  "file_import", id: 'import-submit'

      #progress
        .bar
          .bar-success
      #import-process
        %span
          .load-text
            Loading...
            = image_tag "spinner.gif", class: "load-img"
