!!!
%html
  %head
    %title Service
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    -#Header
    = render "/layouts/shared/header"

    -#Content
    .row
      .col-md-12
        = yield :admin_header
        = yield :admin_content

        = yield

    -#Footer
